<footer class="footer">
  <div class="footer__wrapper container">
    <ul class="footer__list">
      <li class="footer__item footer__item--phone">
        <span>
          <svg width="32" height="32">
            <use xlink:href="img/sprite.svg#icon-phone"></use>
          </svg>
        </span>
        <p>Звоните</p>
        <a href="tel:+380509348876">+38 (050) 934-88-76</a>
      </li>

      <li class="footer__item footer__item--mail">
        <span>
          <svg width="32" height="32">
            <use xlink:href="img/sprite.svg#icon-mail"></use>
          </svg>
        </span>
        <p>Пишите</p>
        <a href="mailto:chudnovets0575@gmail.com">chudnovets0575@gmail.com</a>
      </li>

      <li class="footer__item footer__item--academy">
        <a href="https://htmlacademy.ru/profile/id585147">
          Заходите
          <svg width="32" height="32">
            <use xlink:href="img/sprite.svg#icon-academy"></use>
          </svg>
        </a>
      </li>

      <li class="footer__item footer__item--copyright">
        <span>
          <svg width="32" height="32">
            <use xlink:href="img/sprite.svg#icon-copyright"></use>
          </svg>
        </span>
        <p>&copy; 2020 Алексей Чудновец</p>
        <p>Все права защищены</p>
      </li>
    </ul>
  </div>
</footer>
