<header class="header">
  <div class="header__wrapper container">
    <div class="header__logo">
      <h1 class="header__title">Алексей Чудновец</h1>
      <p class="header__description">junior frontend-разработчик</p>
    </div>

    <div class="header__container-nav">
      <button class="header__open" type="button">Открыть</button>
      <nav class="header__nav header__nav-button">
        <ul class="header__list">
          <li><a href="main.html">Главная</a></li>
          <li><a href="resume.html">Резюме</a></li>
          <li><a href="projects.html">Проекты</a></li>
          <li><a href="contacts.html">Контакты</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>
