<head>
  <meta charset="UTF-8">
  <title>Портфолио frontend junior-разработчик</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="Портфолио Алексей Чудновец frontend junior-разработчик">

  <link rel="preload" href="fonts/opensans.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/opensansbold.woff2" as="font" crossorigin="anonymous">
  <link href="css/style.min.css" rel="stylesheet">
</head>
