.about-me {
  padding: 88px 0 88px 0;
  background-color: $light-beige-bg;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
}

.about-me__img {
  width: 40%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }
}

.about-me__info-wrapper {
  width: 50%;
}

.about-me__greeting {
  padding-bottom: 45px;
}

.about-me__greeting-title {
  @include font(80, 90);
  margin: 0;
  color: $light-black;

  @media (max-width: $desktop-min-width - 1) {
    @include font(60, 70);
  }
}

.about-me__greeting-text {
  @include font(46, 50);
  margin: 0;
  color: $light-black;

  @media (max-width: $desktop-min-width - 1) {
    @include font(40, 48);
  }
}

.about-me__info-list {
  @include list-reset;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-bottom: 30px;

  a {
    @include font(14, 16);
    @include open-sans-b;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;

    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: $white;

    background-color: $light-red;
    border-radius: 50%;

    &:hover,
    &:focus {
      @include hover;
      background-color: rgba(155, 36, 57, 1);
    }

    @media (max-width: $desktop-min-width - 1) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: $tablet-width - 1) {
      @include font(10, 12);
      width: 85px;
      height: 85px;
    }

    @media (max-width: 767px) and (min-width: 500px) {
      @include font(14, 16);
      width: 130px;
      height: 130px;
    }
  }

  li:nth-child(2) a {
    background-color: $aqua;

    &:hover,
    &:focus {
      @include hover;
      background-color: rgba(65, 139, 141, 1);
    }
  }

  li:last-child a {
    background-color: $light-olive;

    &:hover,
    &:focus {
      @include hover;
      background-color: rgba(139, 134, 25, 1);
    }
  }
}

.about-me__info-text {
  @include font(14, 16);
  margin: 0;
  color: $light-black;
}

@media (max-width: $tablet-width - 1) {
  .about-me {
    padding: 30px 0;

    @media (max-width: 600px) and (min-width: 501px) {
      padding: 50px 0;
    }
  }

  .about-me__container {
    flex-direction: column;
  }

  .about-me__img {
    width: 100%;

    @media (max-width: 767px) and (min-width: 501px) {
      width: 75%;
      align-self: center;
      padding-bottom: 50px;
    }
  }

  .about-me__info-wrapper {
    width: 100%;
  }

  .about-me__greeting-title {
    @include font(50, 60);

    @media (max-width: 767px) and (min-width: 501px) {
      @include font(60, 70);
    }
  }

  .about-me__greeting-text {
    @include font(30, 35);

    @media (max-width: 767px) and (min-width: 501px) {
      @include font(40, 45);
    }
  }
}
