.resume-aside__abilities {
  color: $darker-gray;

  svg {
    fill: $aqua;
  }

  ul {
    @include font(14, 16);
    padding-left: 19px;
  }

  li {
    padding-bottom: 10px;
  }
}

.resume-aside__skills {
  margin-bottom: 50px;
}
